# test
node_modules/
backups/
blueprints/
portable_blueprints/tablet_data
crash-reports/
emojiful/cache
local/
logs
options.txt
resourcepacks/*
!/resourcepacks/sunlit_overrides.zip
!configureddefaults/options.txt
mods/
build/
saves/
screenshots
shaderpacks/
config/worldedit/
immersive_paintings_cache/
ESM/
etched-cache/
modernfix/
schematics/
.vscode
.mixin.out/
easy_npc/backup
fancymenu_data/
etched-sounds/
TrashSlotSaveState.json
usercache.json
usernamecache.json
.curseclient
.qmenu_opened.marker
emi.json
rhino.local.properties
minecraftinstance.json
user-prefs.json
patchouli_data.json
observable_announce
data/fabricDefaultResourcePacks.dat
package-lock.json
lwjgl.dll
jemalloc.dll
glfw.dll
jna8820213177836739703.dll
jna8820213177836739703.dll.x
lwjgl_opengl.dll
lwjgl_stb.dll
lwjgl.dll
OpenAL.dll
icon.png
/controllable_natives
config/CSC/Log/CSC_Record.log
config/CSC/Log/CSC_Record.log
config/controllable/gamecontrollerdb.txt
/journeymap
configureddefaults/journeymap/journeymap.log
config/controlify.json
config/controllable-client.toml
config/controllable/bindings.properties
config/controllable/key_adapters.properties
config/controllable/radial_menu_items.json
